**/audio/*
**/*.mp4
*.zip
**/*.zip
**/*.psd
**/__pycache__
DataVille/game/saves
DataVille/game/errors.txt
DataVille/game/log.txt
DataVille/game/traceback.txt
DataVille/game/cache
*.rpyc
errors.txt
renpy*
.vscode
DataVille/traceback.txt
DataVille/log.txt